<h1>Sign In</h1>

<form action=<%= session_url %> method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>Username:

    <% if flash[:username] %>
      <input type="text" name="user[username]" value="<%= flash[:username] %>">
    <% else %>
      <input type="text" name="user[username]" value="">
    <% end %>

  </label>

  <label>Password:
    <% if flash[:username] %>
      <input type="password" name="user[password]" value="<%= flash[:password] %>">
    <% else %>
      <input type="password" name="user[password]" value="">
    <% end %>
  </label>

  <button>Submit</button>
</form>
